@{
    ViewData["Title"] = "Home Page";
}

<div class="p-3">
    <div class="p-2 d-flex">
        <section>
            <h1>Expense Tracker</h1>
        </section>
        <section>

        </section>
    </div>
</div>